@font-face {
    font-family: "CustomFont";
    src: url("./fonts/Silk\ Serif\ Black.otf");
    src: url("./fonts/") format("woff"),
    url("https://yoursite.com/css/fonts/CustomFont.otf") format("opentype"),
    url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg");
    }

*{
    margin: 0;
    padding: 0;
}
.btn{
    border: 1px solid #707070 !important;
    color: #A86558 !important;
}

.title{
    font-family: 'Noto Serif', serif;
}

.icon-img {
    width: 50px;
    height: 50px;
}

.text-right{
    text-align: right;
}
.banner-outer {
    background-image: url('./home-banner.png');
    height: 850px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
}
.banner-img{
    width: 90%;
}

.home-banner .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-title{
    color: #A86558;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
}

.banner-content-wrapper{
    padding-right: 35px;
}

.why-choose-us-title{
    color: #656E5C;
    font-family: 'Noto Serif', serif;
    margin-top: 20px;
    
}

.why-choose-us-content-outer{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.why-choose-up-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* homepage prefooter */
.pre-footer-wrapper{
    background-image: url('./bg-above-footer.png');
    background-size: cover;
    background-position:  center top;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 300px;
    padding-top: 250px;
    z-index: 1;
    margin-bottom: -75px;

}

.pre-footer-img {
    position: absolute;
    right: -120px;
    width: 700px;
    top: 40%;
    transform: translateY(-40%);
}

/* about us page */
.about-section-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url('./about-bg.png');
    background-position: center;
    background-size: contain;
}

.about-section-2-container > div {
    max-width: 50%;
    text-align: center;
}



.about-us-sec-2-image-right {
    position: absolute;
    right: -18%;
    width: 650px;
    bottom: 0;
    top: -20px;
    padding-left: -250px;

}

.about-us-sec-2-image-left {
 position: absolute;
 left: -18%;
 width: 650px;
 top: -20px;
}

/* Footer */
footer{
    background-image: url('./footer-bg.png');
    height: 550px;
    background-size: cover;
    background-position: center top;
    z-index: 2;
    position: relative;
}

.footer-p{
    max-width: 400px;
    color: white;
}


@media only screen and (max-width: 800px) {
    .mobile-top-space{
        margin-top: 20px;
    }
    .banner-title{
        font-size: 25px;
    }
    .home-banner{
        margin-top: 20px;
        padding: 15px 25px 50px 25px !important;
    }
    .pre-footer-wrapper{
      padding: 50px 25px 50px 25px;
      height: auto;
    } 

    .why-choose-us-content-outer{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .why-choose-us-row{
        padding: 120px 25px 50px 25px;
    }

    .pre-footer-img {
        display: none;
    }

    /* about us for mobile */

    .about-section-2-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: url('./about-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .about-section-2-container > div {
        max-width: 100%;
        text-align: center;
        padding: 15px;
    }
    

    .about-us-sec-2-image-right {
     display: none;
    
    }
    
    .about-us-sec-2-image-left {
    display: none;
    }
  }